body,html{
	height: 100%;
}
/* 主体部分  banner图 */
.main{
	width:100%;
	font-size: 0;
	height:100%;
	max-height:600px;
	overflow: hidden;	
	position: relative;
	background-color: #88c70a;
	background:-webkit-linear-gradient(top,#88c70a,#88c70a);
	background:-moz-linear-gradient(top, #88c70a, #88c70a);
	background:-ms-linear-gradient(top,#88c70a,#88c70a);
	background:-o-linear-gradient(top,#88c70a,#88c70a);
	background:linear-gradient(top,#88c70a,#88c70a);
}

.main img{
	width: 100%;
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-0-background-size: cover;
	background-size: cover;
	position: absolute;
	bottom:0;
}
.main_cont{
	width: 600px;
	height:219px;
	background:url(../images/main__con1.png) no-repeat center center;
	-webkit-background-size: cover;
	-webkit-background-size: cover;
	-webkit-background-size: cover;
	-webkit-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-109px;
	margin-left: -300px;
}
/* 分类列表 */
.itemlis{
	margin:30px 0;
	overflow: hidden;
}
.itemlis li{
	float:left;
	width: 25%;
	overflow: hidden;
	text-align: center;
}
.itemlis li a{
	display: inline-block;
}
.itemlis li a:hover{
	color:#393939 !important;
}
.itempic{
	display:block;
	width:150px;
	height:150px;
	background:url(../images/sprit_03-02.png) no-repeat center center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
@media screen and (max-width:1600px){
	.main{
		max-height: 500px;
	}
	.itempic{
		width: 130px;
		height: 130px;
	}
}
@media screen and (max-width:1400px){
	.main{
		max-height: 400px;
	}
	.itempic{
		width: 100px;
		height: 100px;
	}
}
.itempic.spri2{
	background-image: url(../images/sprit_03.png);
}
.itempic.spri3{
	background-image: url(../images/sprit_03-04.png);
}
.itempic.spri4{
	background-image: url(../images/sprit_03-03.png);
}
.itemlis p{
	font-size:1.6em;
	line-height: 200%;
	padding-top: 10px;
}

/* 宣言 */
.motto{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.motto img{
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border:0;
}