/* 主体部分  banner图 */
.main{
	width:100%;
	font-size: 0;
	/* height: 600px; */
	overflow: hidden;	
	position: relative;
	max-height: 600px;
}
.main img{
	width: 100%;
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-0-background-size: cover;
	background-size: cover;
}

/* 分类列表 */
.itemlis{
	/*margin:30px 0;*/
	overflow: hidden;
	background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
}
.itemlis li{
	float:left;
	width: 25%;
	overflow: hidden;
	text-align: center;
}
.itemlis li a{

	display: inline-block;
}
.itemlis li a:hover{
	color:#393939 !important;
}
.itempic{
	display:block;
	width:150px;
	height:150px;
	background:url(../images/sprit_03-5.png) no-repeat center center;
	-webkit-background-size: 100%;
	-ms-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
@media screen and (max-width:1600px){
	.main{
		max-height: 500px;
	}
	.itempic{
		width: 130px;
		height: 130px;
	}
}
@media screen and (max-width:1400px){
	.main{
		max-height: 400px;
	}
	.itempic{
		width: 100px;
		height: 100px;
	}
}
.itempic.spri2{
	background-image: url(../images/sprit_03-6.png);
}
.itempic.spri3{
	background-image: url(../images/sprit_03-7.png);
}
.itempic.spri4{
	background-image: url(../images/sprit_03-8.png);
}

.itemlis p{
	font-size:1.6em;
	padding-top: 10px;
}

/* 我的作品 */
.pare{
	overflow: hidden;
	position: relative;
}
.myword{
	width:1200px;
	margin: 0 auto;
	overflow: hidden; 
	_zoom:1;
}
.myword li{
	width:270px;
	height: 240px;
	overflow: hidden;
	margin-right:25px;
	margin-bottom:40px;
	padding-bottom: 10px;
	background-color: #F2F2F2;
	display: inline-block;
}
.myword li img{
	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	-ms-transition:all 0.3s ;
	-o-transition:all 0.3s ;
	transition:all 0.3s ;
}
.myword li:hover img{
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
}
.myword p{
	line-height:160%;
	font-size:1.15em;
	padding-top:10px;
	color:#959595;
    /*width: 258px;*/
}
.firm{
	margin-left: 10px;
	padding:0px 3px;
	color:white;
	background-color: #1387b8;
	margin-right:10px;
}
.text_word{
	position: relative;
	left: 10px;
	letter-spacing: -0.4pt;
}
.firmSay{
	font-size: 12px;
	color: #6a6a6a;

}
span.wangpeng{
	display: block;
	float: left;
	margin-left: 10px;
	padding-top: 0;
	color: #959595;
}
span.more{
	display: block;
	float: right;
	margin-right: 10px;
	padding-top: 0;
	color: #fa8562;
}
/* 成长 */
.growup {
	overflow: hidden;
}
.growup span{
	display: inline-block;
	float:left;
	margin-right: 15px;
}
.growup .weizi{
	height: 44px;
	line-height: 44px;
	font-size:1.8em;
}
.growup .flower{
	width:44px;
	height: 44px; 
	background:url(../images/wordbanner/flower.png) no-repeat center center;
}
.growup  .liner{
	width: 1035px;
	height: 2px;
	margin-top: 21px;
	background-color: #90d500;
}
/* 我的房多多作品 */

.housepage{
	overflow: hidden;
	position: relative;
}
.houseul{
	padding-top: 50px;
	width:1200px;
	overflow: hidden;
}
.houseul li{
	width:270px;
	overflow: hidden;
	float:left;
	margin-right:25px;
	margin-bottom: 50px;
	padding-bottom: 20px;
	background-color: #F2F2F2;
}
.houseul li  img{
	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	-ms-transition:all 0.3s ;
	-o-transition:all 0.3s ;
	transition:all 0.3s ;
}

.houseul li:hover img{
	margin-left: -5px;
}
.houseul p{
	line-height:160%;
	font-size: 1.2em;
	padding-top: 5px;
	color:#959595;
}

/* 房多多海面亲子游 */
.intorcont{
	height:200px;
	background-color: #e9fcff; 
	text-align: center;
	position: relative;
}
.intorcont  h3{
	font-size:4em;
	line-height: 200%;
}
.intorcont p{
	width: 80%;
	text-align: left;
	text-indent: 2em;
	line-height: 160%;
	padding-top:15px;
	padding-left: 50px;
}
.intorcont span{
	font-size:1.6em;
	line-height: 160%;
}
.zoom{
	display: block;
	width: 128px;
	height: 124px;
	position: absolute;
	right:10px;
	bottom: 3%;
	background:url(../images/wordbanner/zoom1.png) no-repeat center center;
}
.picshow{
	position: relative;
}
.picshow_tu  li{
	display: none;
}
.picshow_tu  li.curent{
	display: block;
}
.showpichot{
	overflow: hidden;
	position: absolute;
	top:95%;
	left:75%;
	z-index: 9999;
}
.showpichot li{
	width: 15px;
	height: 15px;
	background:rgba(255,255,255,0.5);
	float:left;
	margin-right: 15px;
	border-radius: 15px;
	background-color: #959595;
}
.showpichot li.hot{
	background:rgba(255,255,255,1);
}
.footer{
	background: #1387b8;
}

/* 网页死表层叠 */
.mywangye{
	width: 1200px;
	overflow: hidden;
}
.mywangye li{
	width:30%;
	height: 300px;
	float:left;
	background-color: #f2f2f2;
	border-right:20px solid #fff;
	border-bottom: 40px solid #fff;
	perspective:600px;
}
.mywangye li img{
	width: 100%;
	-webkit-transition:all 1s ;
	-moz-transition:all 1s ;
	-ms-transition:all 1s ;
	-o-transition:all 1s ;
	transition:all 1s ;
}
.mywangye li:hover img{
	transform:rotateY(30deg);
}

.public p{
	line-height:160%;
	font-size: 1.2em;
	padding-top:10px;
}

/*平面作品列表样式*/

.my-graphic-works li img{
	width: 100%;
	-webkit-transition:all 1.5s ;
	-moz-transition:all 1.5s ;
	-ms-transition:all 1.5s ;
	-o-transition:all 1.5s ;
	transition:all 1.5s ;
}

.my-graphic-works li:hover img{
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-mstransform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);
}

#my_app_works, #my_banner_works, #my_website_works, #my_graphic_works {
	cursor: pointer;
}