body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:45px;
  top:720px;
  width:375px;
  height:57px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u3 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:25px;
  top:103px;
  width:380px;
  height:77px;
  color:#A1A1A1;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:77px;
}
#u5 {
  position:absolute;
  left:2px;
  top:30px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:166px;
  top:130px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:33px;
  top:106px;
  width:363px;
  height:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:14px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-1px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:25px;
  top:180px;
  width:380px;
  height:520px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:520px;
}
#u11 {
  position:absolute;
  left:2px;
  top:252px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:24px;
  top:700px;
  width:380px;
  height:77px;
  color:#A1A1A1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:77px;
}
#u13 {
  position:absolute;
  left:2px;
  top:30px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:33px;
  top:710px;
  width:57px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:53px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:186px;
  top:710px;
  width:57px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:11px;
  width:53px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:323px;
  top:710px;
  width:57px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:11px;
  width:53px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:66px;
  top:240px;
  width:297px;
  height:300px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:300px;
}
#u21 {
  position:absolute;
  left:2px;
  top:142px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:34px;
  top:540px;
  width:361px;
  height:68px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:68px;
}
#u23 {
  position:absolute;
  left:2px;
  top:26px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:130px;
  top:360px;
  width:55px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:240px;
  top:360px;
  width:55px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:187px;
  top:450px;
  width:55px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:144px;
  top:371px;
  width:27px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:242px;
  top:371px;
  width:27px;
  height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:189px;
  top:461px;
  width:27px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:62px;
  top:190px;
  width:308px;
  height:61px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:61px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:33px;
  top:658px;
  width:361px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:357px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:66px;
  top:618px;
  width:264px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:185px;
  top:360px;
  width:55px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:490px;
  top:138px;
  width:87px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:520px;
  top:196px;
  width:471px;
  height:90px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:90px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:573px;
  top:386px;
  width:776px;
  height:327px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:327px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:25px;
  top:103px;
  width:380px;
  height:674px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:674px;
}
#u51 {
  position:absolute;
  left:2px;
  top:329px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:280px;
  top:142px;
  width:200px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u53 {
  position:absolute;
  left:354px;
  top:200px;
  width:156px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:139px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:156px;
  height:1px;
}
#u54 {
  position:absolute;
  left:323px;
  top:390px;
  width:240px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:240px;
  height:1px;
}
#u55 {
  position:absolute;
  left:80px;
  top:650px;
  width:270px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:360px;
  top:670px;
  width:200px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u57 {
  position:absolute;
  left:310px;
  top:608px;
  width:200px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u58 {
  position:absolute;
  left:520px;
  top:608px;
  width:287px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
